.burger-menu-icon {
    width: 40px;
    height: 30px;
    position: absolute;
    right: 0;
    margin: 5vw;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 3;
}

.burger-menu-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: $black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

.burger-menu-icon span:nth-child(1) {
    top: 0px;
}

.burger-menu-icon span:nth-child(2), .burger-menu-icon span:nth-child(3) {
    top: 12px;
}

.burger-menu-icon span:nth-child(4) {
    top: 24px;
}

.burger-menu-icon.menu-open span{
    background: $white;
}

.burger-menu-icon.menu-open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.burger-menu-icon.menu-open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger-menu-icon.menu-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger-menu-icon.menu-open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.burger-menu-icon {

    @media (min-width: 460px) {
        display: none;
    }
}
