.footer {
    margin: 2em 0em 0em 0em;
}

.social-media {
    text-align: center;
}

.social-media-icon {
    width: 1.5em;
    margin: 0.5em 0.5em;
}

.footer-copyright {
    font-size: 0.7em;
    font-weight: lighter;
}
