.form {
    width: 80vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
}

label {
    display: block;
    font-size: 1.5em;
}

.form-input {
    display: block;
    line-height: 4em;
    min-width: 100%;
}

@media (min-width: 460px) {
    .form-input {
        margin: 1em;
        line-height: 1.5em;
        min-width: 40%;
        display: inline-block;
    }

    label {
        font-size: 1em;
        margin: 0.8em 1em;
        display: inline-block;
    }
}

.form-label {
    margin: 0.5em 1.8em;
}

.form-query-container {
    margin-top: 1.5em;
}

.form-query {
    font-size: 1.5em;
    text-align: justify;
    width: 40vw;
    margin: auto;
    margin-top: 0.2em;
    margin-bottom: 1em;
    display: block;
}
@media (min-width: 460px) {
    .form-query {
        margin: 0.2em 1em;
        display: inline-block;
    }
}

.form-radio {
    margin: 0em 1em;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.form-register {
    margin-top: 2.5em;
    color: $light-green;
}

.form-complete-message {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 20vh;
}
