.hero-container {
    height: 80vh;
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.hero-background {
    width: 100%;
    height: 100%;
}

.hero-title {
    margin: 1.5em 0em 0.5em 0.1em;
    font-size: 4.5em;
    font-weight: lighter;
    letter-spacing: 10px; //using 'em's here will shift the text to the left. Text-align didn't work.
}

.hero-description {
    font-size: 0.8em;
    margin: 3em 0em 0em 0em;
}

@media (min-width: 460px) {
    .hero-title {
        font-size: 4em;
        font-weight: lighter;
        margin: 0.5em 0em;
    }
    .hero-slogan {
        font-size: 1.5em;
        font-weight: lighter;
    }
    .hero-description {
        font-size: 1em;
        margin: 2em;
    }
}
