.info-block-title {
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: lighter;
}

.info-block-image {
    min-width: 0vw;
    max-width: 50vw;
    max-height: 35vw;
}

.info-block-image-SHIPPERS {
    margin: 0.5em;
}

.info-block-item {
    p {
        font-size: 1em;
        margin: 0em 1.5em;
    }
    text-align: center;
    margin: 3em 1.5em 3em 1.5em;
}

@media (min-width: 460px) {
    .info-block-container {
        display: flex;
    }
    .info-block-item {
        flex: 1;
        max-width: 40vw;
        margin: auto;
    }
    .info-block-image {
        max-width: 200px;
        max-height: 100px;
    }
}
