.info-container-title {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    padding: 1em 0em 1em 0em;
}

.title-how-it-works {
    background-color: #65b465;
    color: #ffffff;
}

.content-how-it-works {
    background-color: #b1e5b1;
    color: #000000;
    font-weight: lighter;
    padding: 2em 0em 1em 0em;
}
