.info-block-image {
    max-width: 40%;
}

.info-block-item {
  text-align: center;
  margin: 5vw;
  p {
    font-size: 1em;
  }
}

@media (min-width: 414px) {
    .info-block-container {
        display: flex;
        justify-content: space-around;
    }
    .info-block-item {
        flex: 1;
    }

}
