#mc_embed_signup {
    background:#fff;
    clear:left;
    font:14px Roboto, Helvetica, sans-serif;
}

#mce-error-response, #mce-success-response {
    display: none;
}

#last-bit {
    position: absolute;
    left: -5000px;
}
