.navbar {
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-logo {
    max-width: 4em;
    margin: 1em 0em 0em 1em;
    display: inline-block;
    float: left;

    @media (min-width: 460px) {
        max-width: 3em;
    }
}

.burger-menu-icon {

    @media (min-width: 460px) {
        display: none;
    }
}

.navbar-links-container {
    background-color: $black;
    opacity: 0.7;
    padding: 1em;
    z-index: 2;

    .navbar-links {
        text-align: center;
        color: $white;
        margin: 2em;
        display: block;

    }
}

@media (min-width: 460px) {

    .navbar-links-container {
        float: right;
        margin: 2vh 0vh;
        padding: 0.5em;
        background-color: $white;

        .navbar-links {
            font-size: 0.8em;
            color: $black;
            margin: 1vw;
            display: inline-block;
        }
    }
}
