.navbar {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    transition: height 0.2s ease;
    transition: opacity 0.2s ease;

    &.scrolled {
        opacity: 1;
    }
}

.navbar-logo {
    max-width: 4em;
    margin: 1em 0em 0em 1em;
    display: inline-block;
    float: left;
    transition: max-width 0.2s ease;

    &.scrolled {
        max-width: 1.8em;
    }
}

.navbar-links-container {
    height: 100vh;
    background-color: $black;
    opacity: 0.9;
    padding: 1em;
    z-index: 2;

    .navbar-links-wrapper {
        padding-top: 20vh;
    }

    .navbar-links {
        font-size: 1.5em;
        text-decoration: none;
        text-align: center;
        color: $white;
        margin: 2em;
        display: block;
    }
}

@media (min-width: 460px) {

    .navbar {
        height: 15vh;
        background-color: $white;
        transition: height 0.2s ease;
        transition: opacity 0.2s ease;

        &.scrolled {
            height: 70px;
            opacity: 0.8;
        }
    }

    .navbar-logo {
        max-width: 3em;
        transition: max-width 0.2s ease;

        &.scrolled {
            max-width: 2em;
            margin-top: 0.5em;
        }
    }

    .navbar-links-container {
        height: auto;
        float: right;
        margin: 2vh 0vh;
        padding: 0.5em;
        background-color: transparent;
        transition: padding 0.2s ease;

        &.scrolled {
            padding: 0.1em 0em;
        }

        .navbar-links-wrapper {
            padding-top: 0;
        }

        .navbar-links {
            font-size: 0.8em;
            font-weight: bold;
            color: $black;
            margin: 1vw;
            display: inline-block;
        }
    }
}
