.navbar {
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-logo {
    max-width: 4em;
    margin: 1em 0em 0em 1em;
    display: inline-block;
    float: left;
}

.burger-menu-icon {
    max-width: 2em;
    margin: 1em 1em 0em 0em;
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 3;

    @media (min-width: 460px) {
        display: none;
    }
}

.navbar-links-container {
    background-color: $black;
    opacity: 0.7;
    padding: 1em;
    z-index: 2;

    .navbar-links {
        text-align: center;
        color: $white;
        margin: 2em;
        display: block;

        @media (min-width: 460px) {
            display: inline-block;
        }
    }
}
