.navbar {
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.page-navigation {
    display: inline-block;
    text-align: right;
    float: right;
    p {
        font-size: 0.5em;
    }
}

.navbar-logo {
    max-width: 4em;
    margin: 1em 0em 0em 1em;
    display: inline-block;
    float: left;
}

.burger-menu-icon {
    max-width: 2em;
    margin: 1em 1em 0em 0em;
    cursor: pointer;

    @media (min-width: 460px) {
        display: none;
    }
}

.section-links {
    background-color: $black;
    opacity: 0.7;
    padding: 1em;

    .navbar-links {
        text-align: center;
        color: $white;
        margin: 2em;
    }
}
